body {
  background-color: #eceef1;
  font-family: Helvetica, sans-serif;
  line-height: 15px;
  font-size: 14px;
}

header {
  padding: 10px 10px 20px 20px;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  line-height: 10px;
  font-size: 12px;
}

header button {
  background-color: #0077c5;
  color: white;
  width: 100px;
  height: 35px;
  border: 1px solid black;
  border-radius: 5px;
}

header a {
  font-size: 12px;
  color: #0077c5;
}

header p {
  color: #505050;
}

.headerwrapper {
  padding-right: 10px;
}

.passinput {
  border: 1px solid black;
}

.container {
  width: 380px;
  height: 820px;
  margin: 10px auto;
}

.imagediv {
  padding-left: 26px;
  padding-top: 3px;
}

.imagediv:hover {
  cursor: pointer;
}

.formwrapper {
  padding: 30px;
  border: 1px solid grey;
  background-color: white;
  width: 380px;
  margin-top: 10px;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-top: 1px solid lightgrey;
  border-bottom: none;
}

.formwrapper h1 {
  color: #4c4c4c;
  font-size: 24px;
  font-weight: 500;
  text-align: center;
}

.formheading {
  text-align: center;
}

.formheading p {
  display: inline-block;
  margin-top: 25px;
  color: #4c4c4c;
  font-size: 14px;
}

.formheading a {
  font-size: 12px;
  color: #0077c5;
}

form {
  margin-top: 20px;
}

form label {
  display: inline-block;
  padding: 20px 0 6px;
}

form input {
  border: 1px solid lightgrey;
  border-radius: 3px;
  width: 320px;
  height: 34px;
  font-size: 16px;
}

form p {
  display: inline-block;
  padding: 4px 0 0 0;
  font-size: 10px;
  color: #444444;
}

form .passinput {
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid lightgrey;
  border-radius: 3px;
  width: 320px;
}

form .passinput input {
  border: none;
  background-color: transparent;
  resize: none;
  outline: none;
}

form .passinput i {
  display: inline-block;
  padding: 10px 10px 9px 10px;
  color: #4c4c4c;
}

form button {
  background-color: #0077c5;
  width: 320px;
  height: 44px;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  margin: 25px 0 0 0;
}

.formfooter {
  font-size: 12px;
  font-style: italic;
  line-height: 20px;
  text-align: center;
  padding: 30px 20px 0px 20px;
  color: #757575;
}

.formfooter a {
  font-size: 12px;
  color: #0077c5;
}

.containerfooter {
  background-color: #eceef1;
  font-size: 10px;
  width: 380px;
  padding: 16px 16px 16px 16px;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
  text-align: center;
  color: gray;
}

.containerfooter a {
  color: #0077c5;
}

footer {
  margin: 0px 0px 10px 0px;
  color: #505050;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
}

footer a {
  display: inline-block;
  padding-left: 5px;
  color: #505050;
}

footer a:hover {
  text-decoration: underline;
}

#Privacybtn {
  position: fixed;
  width: 124.38px;
  height: 41px;
  border-radius: 3px;
  color: #ffffff;
  padding: 10px 12px;
  font-size: 14px;
  background-color: #6b6c72;
  bottom: 0;
  right: 50px;
}
/*# sourceMappingURL=style.css.map */